@import url('https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet');


body {
  font-family: 'Special Elite', cursive;
  text-decoration: none;
}

marquee {
  text-align: center;
  background-color: pink;
}

.FrontPageMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr;
  grid-template-areas:
    'mypic mytext';
  grid-gap: 10px 15px;
  align-items: center;
}

.FrontPagePic {
  grid-area: mypic;
  height: auto;
  max-width: 100%;
}

.FrontPageText {
  grid-area: mytext;
  height: auto;
  max-width: 100%;
  text-align: center;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
